<mat-card>
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{heroe.superhero}}</mat-card-title>
        <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
    </mat-card-header>

    <!-- <img mat-card-image src="../../../../assets/heroes/{{heroe.id}}.jpg" alt="Imagen de {{heroe.superhero}}"> -->
    <img mat-card-image [src]="heroe | imagen" alt="Imagen de {{heroe.superhero}}">

    <mat-card-content>
        <h3 class="m-0">{{heroe.publisher}}</h3>
        <p>
            <strong>Primera aparición:</strong> {{heroe.first_appearance}}
        </p>

    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-arround">
        <!-- <button mat-flat-button color="primary" routerLink="/heroes/{{heroe.id}}">Leer más...</button> -->
        <button mat-flat-button color="primary" [routerLink]="['/heroes', heroe.id ]">Leer más...</button>
        <span class="expandir"></span>
        <button mat-stroked-button color="warn" [routerLink]="['/heroes/editar', heroe.id]">Editar</button>
    </mat-card-actions>

</mat-card>